/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/_main.scss";
@import "partials/_normalize.scss";
@import "partials/_header.scss";
@import "partials/_fonts.scss";
@import "partials/_social.scss";

$black: #414042;
$grey: #BCBEC0;
$gold: #9E760D;
$light-grey: #F6F6F6;
$grey-border: 3px solid $grey;
$border-inset: inset 0px 0px 0px 3px $grey;
$corner: 3px;
$Montserrat: "Montserrat", Helvetica, sans-serif;
$Droid-Serif: "droid_serifregular", sans-serif;


body {
	background-color: $light-grey;
}

#wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.container {
	width: 100%;
}

 #content {
 	width: 100%;
 	margin: 0 auto;
 	padding: 0;
 	position: relative;
 }

 .post {
 	width: 32%;
 	margin-bottom: 2%;
 	background-color: $light-grey;
 	background-size: 100%;
 	border-radius: $corner;

 	img {
 		width: 100%;
 	}

 	article {
 		position: absolute;
 		top: 0; left: 0;
 		display: none;
 		padding: 10px 20px;
 	}

 	h3 {
 		font-family: $Droid-Serif;
 		font-size: 1.8em;
 		color: $black;
 	}

 	p {
 		font-size: 1em;
 		color: #6D6E71;
 		position: relative;
 		top: -1em;
 	}

 	a {
 		font-family: $Montserrat;
 		font-size: .8em;
 		color: $black;
 		text-decoration: none;
 		text-transform: uppercase;
 		letter-spacing: .2em;
 		position: relative;
 		top: -2em;
 	}

 	a:hover {
 		color: $gold;
 	}
 }

.post:hover img {
	opacity: 0.1;
}

 .post:hover article {
 	display: block;
 }

 .gutter-sizer {
 	width: 2%;
 }

 /* MEDIA QUERIES */

 