@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-bold-webfont.eot');
	src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/montserrat-bold-webfont.woff') format('woff'),
		 url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
		 url('fonts/montserrat-bold-webfont.svg#Montserrat') format('svg');
}

@font-face {
    font-family: 'droid_serifregular';
    src: url('fonts/DroidSerif-webfont.eot');
    src: url('fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSerif-webfont.woff') format('woff'),
         url('fonts/DroidSerif-webfont.ttf') format('truetype'),
         url('fonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muliregular';
    src: url('fonts/muli-regular-webfont.eot');
    src: url('fonts/muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/muli-regular-webfont.woff') format('woff'),
         url('fonts/muli-regular-webfont.ttf') format('truetype'),
         url('fonts/muli-regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschRegular';
    src: url('fonts/mensch-wf.eot');
    src: url('fonts/mensch-wf.eot?#iefix') format('embedded-opentype'),
         url('fonts/mensch-wf.woff') format('woff'),
         url('fonts/mensch-wf.ttf') format('truetype'),
         url('fonts/mensch-wf.svg#MenschMenschRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rbno2_lightregular';
    src: url('fonts/rbno2light-webfont.eot');
    src: url('fonts/rbno2light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rbno2light-webfont.woff') format('woff'),
         url('fonts/rbno2light-webfont.ttf') format('truetype'),
         url('fonts/rbno2light-webfont.svg#rbno2_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}