$black: #414042;
$grey: #BCBEC0;
$gold: #9E760D;
$light-grey: #F6F6F6;
$grey-border: 2px solid $grey;
$border-inset: inset 0px 0px 0px 2px $grey;
$corner: 3px;
$Montserrat: "Montserrat", Helvetica, sans-serif;
$Muli: "muliregular", Helvetica, sans-serif;
$Bebas: "bebas_neueregular", Helvetica, sans-serif;


.header {
	width: 100%;
	height: auto;
    -moz-border-radius-bottomright: $corner;
	-webkit-border-bottom-right-radius: $corner;
    -moz-border-radius-bottomleft: $corner;
	-webkit-border-bottom-left-radius: $corner;
	-webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    transition: opacity 250ms;
}

.header:hover {
	opacity: 0.9;
	-webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    -o-transition: opacity 250ms;
    transition: opacity 250ms;
}

.nav {
	width: 100%;
	border-bottom: $grey-border;
	margin-bottom: 50px;
	padding:0;

	ul {
		width: 90%;
		margin: 0 auto;
		text-align: justify;
		padding: 4% 0 1.5% 0;
	}

	li {
		display: inline-block;
	}

	a {
		line-height: 0.1em;
		font-size: 1.3em;
		font-family: $Bebas;
		text-transform: uppercase;
		letter-spacing: 4px;
		color: $black;
		text-decoration: none;
 		-webkit-transition: color 250ms;
	    -moz-transition: color 250ms;
	    -o-transition: color 250ms;
	    transition: color 250ms;
	}

	a:hover, a:active {
		color: $gold;
 		-webkit-transition: color 250ms;
	    -moz-transition: color 250ms;
	    -o-transition: color 250ms;
	    transition: color 250ms;

	}


	ul.expand:after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
}

.collapse {
	display:none;
}


/* MEDIA QUERIES */
@media (max-width: 1000px) {

	.header {
		-moz-border-radius-bottomright: 0;
		-webkit-border-bottom-right-radius: 0;
	    -moz-border-radius-bottomleft: 0;
		-webkit-border-bottom-left-radius: 0;
	}
}

@media (max-width: 700px) {

	.expand {
		display:none;
	  	position:relative;
	  	padding: 0;
	  	z-index: 9999;
	  	background-color: #fff;
	  	width: 100%;
	  	float: left;

	  	li {
	  		width: 100%;
	  		background-color: $black;
	  		text-align: center;
	  		padding: 3% 0;
	  		margin-bottom: 2px;
			-webkit-transition: background-color 250ms;
		    -moz-transition: background-color 250ms;
		    -o-transition: background-color 250ms;
		    transition: background-color 250ms;

	  	}

	  	a {
	  		padding: 2% 0;
	  		color: #fff;
	  		font-size: 0.8em;
			font-family: $Muli;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #fff;
			-webkit-transition: color 250ms;
		    -moz-transition: color 250ms;
		    -o-transition: color 250ms;
		    transition: color 250ms;

	  	}

	  	a:hover {
		color: #fff;
		-webkit-transition: color 250ms;
	    -moz-transition: color 250ms;
	    -o-transition: color 250ms;
	    transition: color 250ms;

		}

	  	li:hover {
	  		background-color: $gold;
			-webkit-transition: background-color 250ms;
		    -moz-transition: background-color 250ms;
		    -o-transition: background-color 250ms;
		    transition: background-color 250ms;

	  	}
	}

	.open {
		display: block;
	}

	.nav ul.expand:after {
		display:none;
	}

	.nav ul {
		width: 100%;
		padding-top: 1.5%;
	}

	.collapse {
	  	display: block;
	  	width:100%;
	  	heigth: auto;
	  	padding: 2% 0;

  		.collapse-nav {
		width: 60%;
		text-align:center;
  		border-right: $grey-border;
		}

		.collapse-social {
			width: 38%;

			ul {
				padding: 0;
				width: 85%;
			}

			li {
				width: 48%;
				text-align:center;
			}

			i {
				font-size: 2.2em;
			}
		}
	}

	i {
		font-size: 3em;
		color: $black;
		-webkit-transition: color 250ms;
	    -moz-transition: color 250ms;
	    -o-transition: color 250ms;
	    transition: color 250ms;

	}

	i:hover {
		color: $gold;
		-webkit-transition: color 250ms;
	    -moz-transition: color 250ms;
	    -o-transition: color 250ms;
	    transition: color 250ms;

	}
	
}

@media (max-width: 500px) {

	.collapse i {
	}

	.collapse-nav i {
	}

}

