$black: #414042;
$grey: #BCBEC0;
$gold: #9E760D;
$light-grey: #F6F6F6;
$grey-border: 2px solid $grey;
$border-inset: inset 0px 0px 0px 2px $grey;
$corner: 3px;
$Montserrat: "Montserrat", Helvetica, sans-serif;
$Muli: "muliregular", Helvetica, sans-serif;
$Bebas: "bebas_neueregular", Helvetica, sans-serif;
$Lane: "lane_-_narrowregular", Helvetica, sans-serif;


.js .social-widget {
	position:absolute;
	left: 68%;
	padding-left: 1%;
	margin-right: 0;
}

.social-widget {
	width: 31.9%;
	float: left;
	margin-right: 2%;

 	article {
 		width: 100%;
 		position: relative;
		top: -1.5em;
		text-align: left;

 		h3 {
		font-family: $Lane;
		font-size: 2em;
		letter-spacing: 2px;
		line-height: 1em;
 		color: $black;
		}

		p {
			font-family: $Muli;
	 		font-size: 1em;
	 		color: #808080;
	 		position: relative;
			top: -0.6em;
		}

		i {
		  color: #414042;
		  font-size: 3em;
		  float: left;
		  padding-right: 7%;
		  position: relative;
		  top: -0.4em;
		  -webkit-transition: color 250ms;
		  -moz-transition: color 250ms;
		  -o-transition: color 250ms;
		  transition: color 250ms;
		}

		i:hover {
		  color: #9e760d;
		  -webkit-transition: color 250ms;
		  -moz-transition: color 250ms;
		  -o-transition: color 250ms;
		  transition: color 250ms;
		}
 	}
}

/* MEDIA QUERIES */

 @media (max-width: 700px) {

 	.social-widget {
		width: 49%;
		left: 9999px;
		height: 0;

		article {
			display: none;
		}
	}

}