$black: #414042;
$grey: #BCBEC0;
$gold: #9E760D;
$light-grey: #F6F6F6;
$grey-border: 2px solid $grey;
$border-inset: inset 0px 0px 0px 2px $grey;
$corner: 3px;
$Montserrat: "Montserrat", Helvetica, sans-serif;
$Muli: "muliregular", Helvetica, sans-serif;
$Bebas: "bebas_neueregular", Helvetica, sans-serif;
$Lane: "lane_-_narrowregular", Helvetica, sans-serif;


.social-widget {
	position:absolute;
	left: 68%;
	width: 32%;
 	margin-bottom: 2%;

 	article {
 		width: 100%;
 		position: relative;
		top: -1.5em;
		padding-left: 5%;

 		h3 {
		font-family: $Lane;
		font-size: 2em;
		letter-spacing: 2px;
		line-height: 1em;
 		color: $black;
		}

		p {
			font-family: $Muli;
	 		font-size: 1em;
	 		color: #808080;
	 		position: relative;
			top: -0.6em;
		}

		img {
			width: 50px;
			height:50px;
			float: left;
			margin-right: 7%;
	 		position: relative;
			top: -0.4em;
	 		-webkit-transition: color 250ms;
		    -moz-transition: color 250ms;
		    -o-transition: color 250ms;
		    transition: color 250ms;

		}

		img:hover {
			opacity: 0.9;
			-webkit-transition: opacity 250ms;
		    -moz-transition: opacity 250ms;
		    -o-transition: opacity 250ms;
		    transition: opacity 250ms;

		}

 	}
}

/* MEDIA QUERIES */

 @media (max-width: 700px) {

 	.social-widget {
		width: 49%;
		left: 9999px;
		height: 0;

		article {
			display: none;
		}
	}

}